</br></br></br>
<!-- معماری -->
<div style="width:76% ; margin-left:16%">
<div    style="direction: rtl;">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail" style="border:10px outset silver; height:420px;">
     <%= image_tag("profiles_pic/profile.png") %>
      <!-- <img src="/assets/profiles_pic/profile.png" > -->
      <div class="caption">
        <h3>ادوین قازاریان</h3>
        سابقه کار - سال : ۱۷
        <br>
        مدرک تحصیلی: کارشناس سازه/ کارشناس ارشد مدیریت پروژه
        <br>
        گروه:سازه
    </div>
  </div>
</div>
</div>
<div    style="direction: rtl;">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail" style="border:10px outset silver; height:420px;">
      <%= image_tag("profiles_pic/profile.png") %>
      <!-- <img src="/assets/profiles_pic/profile.png" > -->
      <div class="caption">
        <h3>بهزاد اختری</h3>
        سابقه کار - سال : ۲۱
        <br>
        مدرک تحصیلی:کارشناس سازه
        <br>
        گروه:سازه
    </div>
  </div>
</div>
</div>

<div  style="direction: rtl;">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail" style="border:10px outset silver; height:420px;">
     <%= image_tag("profiles_pic/profile.png") %>
      <!-- <img src="/assets/profiles_pic/profile.png" > -->
      <div class="caption">
        <h3>غلامحسین منافی </h3>
        سابقه کار - سال : ۴۲
        <br>
        مدرک تحصیلی: کارشناس ارشد سازه
        <br>
        گروه:سازه
    </div>
  </div>
</div>
</div>


 <div    style="direction: rtl;">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail" style="border:10px outset silver; height:420px;">
      <%= image_tag("profiles_pic/profile.png") %>
      <!-- <img src="/assets/profiles_pic/profile.png" > -->
      <div class="caption">
        <h3>وحید امانی</h3>
        سابقه کار - سال : ۸
        <br>
        مدرک تحصیلی:کارشناس سازه
        <br>
        گروه:سازه
    </div>
  </div>
</div>
</div>
 <!--  -->
<div    style="direction: rtl;">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail" style="border:10px outset silver; height:420px;">
      <%= image_tag("profiles_pic/profile.png") %>
      <!-- <img src="/assets/profiles_pic/profile.png" > -->
      <div class="caption">
        <h3>سامان دلاوری </h3>
        سابقه کار - سال : ۱۲
        <br>
        مدرک تحصیلی:کارشناس سازه 
        <br>
        گروه:سازه
    </div>
  </div>
</div>
</div>


<div    style="direction: rtl;">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail" style="border:10px outset silver; height:420px;">
      <%= image_tag("profiles_pic/profile.png") %>
      <!-- <img src="/assets/profiles_pic/profile.png" > -->
      <div class="caption">
        <h3>حسین رهگشا</h3>
        سابقه کار - سال : ۱۵
        <br>
        مدرک تحصیلی:کارشناس سازه
        <br>
        گروه:سازه
    </div>
  </div>
</div>
 </div>





<div    style="direction: rtl;">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail" style="border:10px outset silver; height:420px;">
      <%= image_tag("profiles_pic/profile.png") %>
      <!-- <img src="/assets/profiles_pic/profile.png" > -->
      <div class="caption">
        <h3>محمدرضا خلیل زاده </h3>
        سابقه کار - سال : ۵
        <br>
        مدرک تحصیلی:کارشناس سازه / کارشناس ارشد حمل و نقل
        <br>
        گروه:سازه
    </div>
  </div>
</div>
</div>




<div  style="direction: rtl;height:900px;">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail" style="border:10px outset silver; height:420px;">
      <%= image_tag("profiles_pic/profile.png") %>
      <!-- <img src="/assets/profiles_pic/profile.png" > -->
      <div class="caption">
        <h3>معصومه آسمانی</h3>
        سابقه کار - سال : ۶
        <br>
        مدرک تحصیلی: کارشناس سازه / کارشناس ارشد هیدرولیک
        <br>
        گروه:سازه
    </div>
  </div>
</div>
</div>

</div>


</br></br></br></br></br></br>
</br></br></br></br></br></br>
</br></br></br></br></br></br>
</br></br></br></br></br></br>

