

<link href="/assets/css-profile/components-rounded.css" id="style_components" rel="stylesheet" type="text/css"/>

<div class="page-header-fixed page-sidebar-closed-hide-logo ">
  <div class="col-mod-7">
      <div class="portlet box purple" style="margin-left:32%;margin-right:32%;margin-top:12%;">
                      <div class="portlet-title">
                        <div class="caption" style="margin-left:37%;">
                          فرم ایجاد پروژه
                        </div> 
                      </div>
                      <div class="portlet-body form register span6">
                        <!-- BEGIN FORM-->
                        <%= form_for(@project) do |f| %>
                          <% if @project.errors.any? %>
                            <div id="error_explanation">
                              <h2><%= pluralize(@project.errors.count, "error") %> prohibited this profile from being saved:</h2>

                              <ul>
                              <% @project.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                              <% end %>
                              </ul>
                            </div>
                          <% end %>
                        <!-- <form > -->
                          <div class="form-body">
                            <div class="form-group">
                              <label class="control-label">نام شرکت</label>
                              <select name="project[user_id]">
                              
                                <%@profiles.each do |p| %>
                                <%#byebug%>
                                  <%if not p.nil? and p.role == "پزشک" %>
                                    <option value="<%=p.id%>"><%=p.company_name%></option>
                                  <%end%>
                                <%end%>
                              </select>
                              <%#= f.select :user_id, select_tag(:user_id, @profiles_name) %>
<!--                               <input type="text" class="form-control" placeholder="Enter text"> -->
                            </div>

                             <div class="form-group">
                              <label class="control-label">نام بیمار</label>
                              <select name="project[nazer_id]">
                              
                                <%@profiles.each do |p| %>
                                <%#byebug%>
                                  <%if not p.nil? and p.role == "بیمار" %>
                                    <option value="<%=p.id%>"><%=p.company_name%></option>
                                  <%end%>
                                <%end%>
                              </select>
                              <%#= f.select :user_id, select_tag(:user_id, @profiles_name) %>
<!--                               <input type="text" class="form-control" placeholder="Enter text"> -->
                            </div>


                            <div class="form-group">
                              <label class="control-label">نام پروژه</label>
                              <%= f.text_field :name, class: "form-control"  ,placeholder:"نام پروژه" %>
<!--                               <input type="text" class="form-control" placeholder="Enter text"> -->
                            </div>

                            <div class="form-group">
                              <label class="control-label">تاریخ شروع</label>
                              <%= f.date_select :start_time , class: "form-control"   %>
<!--                               <input type="text" class="form-control" placeholder="Enter text"> -->
                            </div>

                            <div class="form-group">
                              <label class="control-label">تاریخ پایان</label>
                              <%= f.date_select :end_time , class: "form-control"   %>
<!--                               <input type="text" class="form-control" placeholder="Enter text"> -->
                            </div>

                            <div class="form-group">
                              <label class="control-label">درصد پیشرفت پروژه</label>
                              <%= f.number_field :progress_percent, class: "form-control" %>
<!--                               <input type="text" class="form-control" placeholder="Enter text"> -->
                            </div>


                            <div class="form-group">
                              <label class="control-label" >عکس</label>
                              <%= f.file_field :avatar ,class: "form-control spinner" %>
                              <!-- <input type="password" class="form-control spinner" placeholder="Password"> -->
                            </div>
                            
                            <!-- <div class="form-group last">
                              <label class="control-label">Static Control</label>
                              <p class="form-control-static">
                                 email@example.com
                              </p>
                            </div> -->
                          </div>
                          <div class="form-actions right">
                          <%= f.submit  "ایجاد پروژه" ,style: "width:24%;background-color:#8e5fa2;color:white;line-height:191%;" , class: "btn-md"%>
<!--                             <button type="submit" class="btn green">Submit</button>
                            <button type="button" class="btn default">Cancel</button> -->
                          </div>
                          <% end %>
                        <!-- </form> -->
                        <!-- END FORM-->
                      </div>
                      </div>
                    </div>


<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="../../assets/global/plugins/respond.min.js"></script>
<script src="../../assets/global/plugins/excanvas.min.js"></script> 
<![endif]-->

<!--  ************************** ino man ezafe kardam *************************** -->
<script src="/assets/js2/jquery-1.8.2.min.js"></script>
<script src="/assets/js-profile/bootstrap.min.js"></script>
<script src="/assets/js2/jquery.backstretch.min.js"></script>
<script src="/assets/js2/scripts.js"></script>
<!--  ************************** end-ino man ezafe kardam *************************** -->


<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->


</div>


