<p id="notice"><%= notice %></p>

<p>
  <strong>Name project:</strong>
  <%= @report.name_project %>
</p>

<p>
  <strong>Description:</strong>
  <%= @report.description %>
</p>

<p>
  <strong>Title report:</strong>
  <%= @report.title_report %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @report.subject %>
</p>

<p>
  <strong>document:</strong>
  <%= link_to "My document", @report.document.url, target: "_blank" %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
